/* You can add global styles to this file, and also import other style files */

/* Importing Bootstrap SCSS file. */
@import "~bootstrap/scss/bootstrap";

/* Importing Datepicker SCSS file. */
@import "node_modules/ngx-bootstrap/datepicker/bs-datepicker";

.background {
   background-color: #4c35e2;
}

.mainheading {
   font-family: Arial, Helvetica, sans-serif;
   font-style: normal;
   color: white;
   size: 120px;
   padding-top: 50px;
   padding-bottom: 20px;
   line-height: 60px;
   text-align: center;
   text-transform: uppercase;
}

.scbackground {
   height: 650px;
   width: 100%;
   background-size: cover;
   background-image: url(https://t4.ftcdn.net/jpg/02/11/54/39/240_F_211543946_Dv89GzbKVLyotp9dNM2Gx7bYGnBFR8jU.jpg
      
   );
}

.herotext {
   font-family: Arial, Helvetica, sans-serif;
   font-style: normal;
   color: white;
   size: 48px;
   line-height: 48px;
   text-align: center;
   text-transform: uppercase;
}

.navtext {
   font-family: Arial, Helvetica, sans-serif;
   color: white;
   font-size:  24px;
   text-align: center;
   border: none;

   
}

.contacttext {
   font-family: Arial,
   Helvetica,
   sans-serif;
   color: white;
   font-size: 24px;
   text-align: left;
   border: none;
}

.navpaddingsleft {
   padding-left: 1050px;
}
.navpaddingsright {
   padding-right: 10%;
}

.photo{
   max-width: 65%;
   height: auto;
   align-items: center;
}

.productimgs {
      
      width: 260px;
      height: 343.58px;
      align-content: center;
   }
 .testimg {
    border-radius: 50%;
    max-width: 100%;
    max-height: 100%;
 }

 .formmessage{
   width: 820px; 
   height: 188px
 }

.containertext {
   font-family: Arial,Helvetica,sans-serif;
   color: white; 
   text-align: justify;

}



